.quotes {
  height: 100px;
}

.active {
  display: none;
}

.author {
  margin-top: 8px;
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}

.content {
  font-family: "Inter";
  width: 290px;
  height: auto;
  font-style: regular;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.quote_fresh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
