.quotes {
  height: 100px;
}

.active {
  display: none;
}

.author {
  margin-top: 8px;
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
}

.content {
  font-family: "Inter";
  width: 290px;
  height: auto;
  font-style: regular;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #ffffff;
}

.quote_fresh {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .quotes {
    width: 573px;
    height: 125px;
  }

  .author {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }

  .content {
    font-size: 18px;
    line-height: 28px;
    width: auto;
  }

  .refresh {
    position: relative;
    left: 16px;
  }
}

@media (min-width: 1440px) {
  .quotes {
    font-size: 18px;
  }
}
