* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: auto;
  height: 100vmax;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 32px;
}
